{% extends 'base.html' %} {% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <a href="#" onClick="document.getElementById('likebutton').submit()"><i class="fa fa-thumbs-up">({{preferences.count}})</i></a>  
       <form id="likebutton" method="post">
       {% csrf_token %}
        <input type="hidden" name="value" id="value" value="1">
        <input type="hidden" name="post_id" id="post_id" value={{post.id}}>
       </form>
         {% if error_message %}
            <div class="alert alert-danger" role="alert">
             {{ error_message }}
            </div>  
        {% endif%}
        <img class="card-img-top" src="{{ post.cover.url}}" alt="{{ post.title }}">
        <p class="card-text ">{{ post.content | safe }}</p>
        <div style="display:flex">
           {% for tag in post.tags.all %}
            <a href="{% url 'tagged' tag.slug %}" class="mr-1 badge badge-info">#{{ tag }}</a>
           {% endfor %}
         </div>
        <br/>
  </div>
</div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
     <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        <!-- comments -->
        <h2>{{ comments.count }} comments</h2>

        {% for comment in comments %}
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            {{ comment.author }}
            <span class=" text-muted font-weight-normal">
              {{ comment.created_on }}
            </span>
          </p>
          {{ comment.body | linebreaks }}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">

        {% if new_comment %}
        <div class="alert alert-success" role="alert">
          Your comment is awaiting moderation
        </div>
        {% else %}
        {% if user.is_authenticated %}
        <h3>Leave a comment</h3>
        <form method="post" style="margin-top: 1.3em;">
          {{ comment_form.as_p }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
        </form>
        {% else %}
        <h3><a href="/accounts/login">Login</a> to Comment</h3>
        {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
