{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">Be Alerted. Stay healthy</h5>
    <div class="card-body">
        <p class="card-text text-muted h6"> Up to today's cases </p> 
        <p class="card-text">      Confirmed:  {{corona.confirmed}} <br/>
                                   Dead: {{corona.dead}} <br/>
                                   Recovered : {{corona.recovered}}
        </p>
 
        <a href="https://www.coronatracker.com/"
           class="btn btn-danger">Know more!</a>
    </div>
</div>
</div>

{% endblock sidebar %}
